<div class="category">
  <div class="container">
    <div
      class="bg-second-color head row justify-content-around align-items-center rounded-4 py-3"
    >
      <div class="col-6">
        <span class="fs-1 fw-bold">Categories </span>
        <span class="fs-1">Item</span>
        <p class="fs-5">
          You can now add your items that any user can order it from the
          Application and you can edit
        </p>
      </div>
      <div class="col-3 text-end">
        <img
          class="w-100"
          src="../../../../../assets/images/big-avatar.svg"
          alt="home-img"
        />
      </div>
    </div>

    <div class="row justify-content-between align-items-center my-4">
      <div class="col-md-4">
        <h4>Categories Table Details</h4>
        <p class="mb-0">You can check all details</p>
      </div>
      <div class="col-md-3">
        <button
          class="btn btn-main py-2 w-100"
          (click)="openDialog(undefined, undefined, 'add')"
        >
          Add New Category
        </button>
      </div>
    </div>

    <p>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Search by name</mat-label>
        <input
          matInput
          type="search"
          placeholder="Search by name"
          [(ngModel)]="search"
          (keydown.enter)="getCategories()"
        />
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint class="second-color">Please press enter</mat-hint>
      </mat-form-field>
    </p>

    <div class="table-responsive table-scroll">
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Creation date</th>
          <th>Modification date</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of list?.data">
            <td>{{ item.name }}</td>
            <td>{{ item.creationDate | date : "dd/MM/yyyy" }}</td>
            <td>{{ item.modificationDate | date : "dd/MM/yyyy" }}</td>
            <td>
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  (click)="openDialog(item.name, item.id, 'view')"
                >
                  <mat-icon class="second-color">visibility</mat-icon>
                  <span class="second-color">View</span>
                </button>
                <button
                  mat-menu-item
                  (click)="openDialog(item.name, item.id, 'edit')"
                >
                  <mat-icon class="second-color">edit_square</mat-icon>
                  <span class="second-color">Edit</span>
                </button>
                <button mat-menu-item (click)="openDeleteDialog(item)">
                  <mat-icon class="second-color">delete</mat-icon>
                  <span class="second-color">Delete</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="text-center">
        <img
          src="../../../../../assets/images/nodata.svg"
          alt="no-data"
          *ngIf="list?.data?.length == 0"
        />
      </div>
    </div>

    <mat-paginator
      #paginator
      class="demo-paginator"
      (page)="handlePageEvent($event)"
      [length]="list?.totalNumberOfRecords"
      [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="pageSizeOptions"
      [hidePageSize]="hidePageSize"
      [pageIndex]="pageIndex"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
