<section
  class="auth d-flex align-items-center justify-content-center position-relative"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="auth-card">
          <div class="logo text-center mb-4">
            <img src="../../../../assets/images/logo.svg" alt="logo" />
          </div>

          <div class="mb-2r position-relative">
            <h4>Reset Password</h4>
            <p class="text-secondary">
              Please Enter Your Otp or Check Your Inbox
            </p>
          </div>

          <form [formGroup]="resetForm" (ngSubmit)="onResetPassword(resetForm)">
            <div class="mb-2r position-relative">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa-solid fa-envelope"></i>
                </span>
                <input
                  id="email"
                  type="email"
                  formControlName="email"
                  class="form-control p-2"
                  aria-describedby="basic-addon1"
                  placeholder="E-mail"
                />
              </div>
              <div
                *ngIf="
                  resetForm.get('email')?.invalid &&
                  resetForm.get('email')?.touched
                "
                class="text-danger position-absolute"
              >
                <small *ngIf="resetForm.get('email')?.errors?.['required']">
                  Email is required.
                </small>
                <small *ngIf="resetForm.get('email')?.errors?.['email']">
                  Enter a valid email.
                </small>
              </div>
            </div>

            <div class="mb-2r position-relative">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa-solid fa-key"></i>
                </span>
                <input
                  id="seed"
                  type="text"
                  formControlName="seed"
                  class="form-control p-2"
                  aria-describedby="basic-addon1"
                  placeholder="OTP"
                />
              </div>
              <div
                *ngIf="
                  resetForm.get('seed')?.invalid &&
                  resetForm.get('seed')?.touched
                "
                class="text-danger position-absolute"
              >
                <small *ngIf="resetForm.get('seed')?.errors?.['required']">
                  OTP is required.
                </small>
              </div>
            </div>

            <div class="mb-2r position-relative">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa-solid fa-lock"></i>
                </span>
                <input
                  [type]="isHide ? 'password' : 'text'"
                  id="password"
                  formControlName="password"
                  class="form-control p-2"
                  aria-describedby="basic-addon1"
                  placeholder="New Password"
                />
                <a class="input-group-text" (click)="isHide = !isHide">
                  <i
                    [class]="
                      isHide ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye '
                    "
                  ></i>
                </a>
              </div>
              <div
                *ngIf="
                  resetForm.get('password')?.invalid &&
                  resetForm.get('password')?.touched
                "
                class="text-danger position-absolute"
              >
                <small *ngIf="resetForm.get('password')?.errors?.['required']">
                  Password is required.
                </small>
                <small *ngIf="resetForm.get('password')?.errors?.['minlength']">
                  Password must be at least 8 characters long.
                </small>
              </div>
            </div>

            <div class="mb-2r position-relative">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa-solid fa-lock"></i>
                </span>
                <input
                  [type]="isHide ? 'password' : 'text'"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                  class="form-control p-2"
                  aria-describedby="basic-addon1"
                  placeholder="Confirm New Password"
                  [pattern]="resetForm.get('password')?.value"
                />
                <a
                  class="input-group-text"
                  (click)="isHideConfirm = !isHideConfirm"
                >
                  <i
                    [class]="
                      isHide ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye '
                    "
                  ></i>
                </a>
              </div>
              <div
                *ngIf="
                  resetForm.get('confirmPassword')?.invalid &&
                  resetForm.get('confirmPassword')?.touched
                "
                class="text-danger position-absolute"
              >
                <small
                  *ngIf="resetForm.get('confirmPassword')?.errors?.['required']"
                >
                  Confirm Password is required.
                </small>
                <small
                  *ngIf="
                    resetForm
                      .get('confirmPassword')
                      ?.hasError('passwordsDoNotMatch')
                  "
                >
                  Confirm Password don't match.
                </small>
              </div>
            </div>

            <button
              type="submit"
              class="btn btn-main w-100 mb-2"
              [disabled]="resetForm.invalid || isLoading"
            >
              Reset Password
            </button>

            <div class="text-center">
              <a
                class="cursor-pointer second-color"
                [routerLink]="['/auth/login']"
                >Back to login</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
