<div style="width: 500px" class="py-4 position-relative">
  <div mat-dialog-content>
    <h4>{{ data.action | titlecase }} Category</h4>
    <mat-form-field class="w-100 mt-4">
      <mat-label>Category Name</mat-label>
      <input
        matInput
        [(ngModel)]="data.name"
        [disabled]="data.action === 'view'"
      />
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="justify-content-end px-4">
    <button
      class="btn btn-main py-4 w-25 mb-2"
      mat-button
      [mat-dialog-close]="data.name"
      *ngIf="data.action !== 'view'"
      cdkFocusInitial
    >
      Ok
    </button>
  </div>
  <div
    class="position-absolute btn-cancel cursor-pointer"
    (click)="onNoClick()"
  >
    <mat-icon matSuffix>close</mat-icon>
  </div>
</div>
