.fill-recipe {
  background-color: #e8ffe6;
}

ngx-dropzone {
  height: 150px !important;
  border-radius: 15px !important;
  padding-left: 4px;
  background-color: #e8ffe6 !important;
  border-color: #2d6e27 !important;
  justify-content: center;
}

ngx-dropzone-image-preview {
  margin: 0 !important;
}

.ngx-dz-disabled{
  opacity: 1 !important;
}