<section
  class="auth d-flex align-items-center justify-content-center position-relative"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="auth-card">
          <div class="logo text-center mb-4">
            <img src="../../../../assets/images/logo.svg" alt="logo" />
          </div>

          <div class="mb-4">
            <h4>Forgot Your Password?</h4>
            <p class="text-secondary">
              No worries! Please enter your email and we will send a password reset link 
            </p>
          </div>

          <form [formGroup]="forgetForm" (ngSubmit)="onForgetPassword(forgetForm)">
            <div class="mb-4">
              <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa-solid fa-mobile-screen-button"></i>
                </span>
                <input
                  id="email"
                  type="email"
                  formControlName="email"
                  class="form-control p-2"
                  aria-describedby="basic-addon1"
                  placeholder="Enter your E-mail"
                />
              </div>
              <div
                *ngIf="
                  forgetForm.get('email')?.invalid &&
                  forgetForm.get('email')?.touched
                "
                class="text-danger"
              >
                <small *ngIf="forgetForm.get('email')?.errors?.['required']">
                  Email is required.
                </small>
                <small *ngIf="forgetForm.get('email')?.errors?.['email']">
                  Enter a valid email.
                </small>
              </div>
            </div>

            <button
            type="submit"
            class="btn btn-main w-100 my-4"
            [disabled]="forgetForm.invalid || isLoading"
            >
            Submit
          </button>

          <div class="text-center">
            <a class="cursor-pointer second-color" [routerLink]="['/auth/login']"
              >Back to login</a
            >
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
