<section class="bg-main-color side-bar overflow-hidden">
  <div class="text-center" (click)="sendData()">
    <img
      class="my-5"
      src="../../../assets/images/logo-without-words.png"
      alt="logo"
    />
  </div>
  <div class="menu">
    <ng-container *ngFor="let item of menu">
      <a
        *ngIf="item.isActive"
        class="item py-3 px-4"
        [class]="toggler ? 'justify-content-center' : null"
        [routerLink]="item.link"
        routerLinkActive="active"
        (click)="handleClick(item.action!)"
      >
        <span><i [class]="item.icon"></i></span>
        <span *ngIf="!toggler">{{ item.title }}</span>
      </a>
    </ng-container>
  </div>
</section>
