<section class="home">
  <div class="container">
    <div
      class="bg-second-color head-home row justify-content-evenly align-items-center rounded-4 py-3"
    >
      <div class="col-6">
        <span class="fs-1 fw-bold">Welcome </span>
        <span class="fs-1">Upskilling !</span>
        <p class="fs-5">
          This is a welcoming screen for the entry of the application , you can
          now see the options
        </p>
      </div>
      <div class="col-3">
        <img
          class="img-fluid"
          src="../../../../assets/images/home-img.png"
          alt="home-img"
        />
      </div>
    </div>
    <div
      class="fill-recipe row justify-content-evenly align-items-center rounded-4 my-3 py-5"
    >
      <div class="col-6">
        <span class="fs-3">Fill the </span>
        <span class="fs-3 fw-bold second-color">Recipes !</span>
        <p>
          you can now fill the meals easily using the table and form , click
          here and sill it with the table !
        </p>
      </div>
      <div class="col-3">
        <button class="btn-main fw-bold w-100">
          Fill Recipes
          <span class="ms-2"><i class="fa-solid fa-arrow-right-long"></i></span>
        </button>
      </div>
    </div>
  </div>
</section>
